.container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.option {
  all: unset;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #272f33;
}

.radio {
  width: 16px;
  height: 16px;
  border: 2px solid #649fbf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.checked .innerCircle {
  background-color: #649fbf;
}
