.antSwitch {
  background-color: #dbdbdb !important;
}

.antSwitch.checked {
  background-color: #dbdbdb !important;
  color: #3a3a3a !important;
}

:global(.ant-switch-inner) {
  color: #000000 !important;
  font-weight: 500 !important;
}

:global(.ant-switch-handle::before) {
  background-color: #649fbf !important;
}
